/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background-color: rgb(249, 250, 251);
    color: rgb(17, 24, 39);
}

/* Navbar */
.top-nav {
    background-color: #0f172a;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Pushes elements to extreme ends */
    align-items: center;
    padding: 0 30px;
}

/* Logo */
.logo img {
    max-height: 50px;
    width: 80px;
}

/* Profile Button */
.icon-button {
    padding: 0.5rem;
    border-radius: 9999px;
    color: rgb(250, 250, 251);
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.icon-button:hover {
    background-color: rgb(30, 41, 59);
    color: white;
}
